.container {
    max-width: 500px;
    margin: auto;
}

.container img {
    object-fit: cover;
    height: 500px;
}

.bx-wrapper .bx-controls-direction a {
    height: 70px;
}

.bx-wrapper .bx-prev {
    background: lightcoral;
}

.bx-wrapper .bx-next {
    background: lightblue;
}